body 
{
  background-color: #1d202f;
  color: white;
  font-size: 40px;
  font-family: Sans-serif;
  position: absolute;
  top: 40%;
  left: 40%;
  text-align: center;
}
h2
{
  font-size: 30px;
}
h3
{
  font-size: 15px;
}